#gamefield {
    width: 320px;
    height: 320px;
    background-color: #242424;
    border: 2px solid #44a300;
    position: relative;
}

#player {
    width: 32px;
    height: 40px; 
    background-image: url('player.png');
    background-size: 400%;
    background-position-x: 0px;
    background-position-y: 0px;
    image-rendering: pixelated;
}

#enemy {
    width: 32px;
    height: 40px; 
    background-image: url('enemy.png');
    background-size: 400%;
    background-position-x: 0px;
    background-position-y: 0px;
    image-rendering: pixelated;
    translate: 0px -40px;
}

.animation_1 {
    background-position-x: 0;
}

.animation_2 {
    background-position-x: 32px;
}

.animation_3 {
    background-position-x: 64px;
}

.animation_4 {
    background-position-x: 96px;
}