@import url('https://fonts.cdnfonts.com/css/atari-classic-int');

body {
    background-color: grey;
    font-family: 'Atari Classic Int', sans-serif;
}

#gameflex {
    display: flex;
}

#gamefield {
    border: 2px solid #44a300;
    width:fit-content;
    position: relative;
}

#background {
    display:grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
    position:absolute;
    z-index: -2;
}

#items {
    display:grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
    position:absolute;
    background-color: transparent; 
    image-rendering: pixelated;
    z-index: -1;
}

#player {
    width: 32px;
    height: 40px; 
    background-image: url('./images/character/player.png');
    background-size: 400%;
    background-position-x: 0px;
    background-position-y: 0px;
    image-rendering: pixelated;
    position:absolute;
}

#enemy {
    width: 32px;
    height: 40px; 
    background-image: url('./images/character/enemy.png');
    background-size: 400%;
    background-position-x: 0px;
    background-position-y: 0px;
    image-rendering: pixelated;
    position:absolute;
}

.tile {
    width: calc(var(--TILE_SIZE) * 1px);
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    background-size: 100% 100%;
}

.item {
    width: calc(var(--TILE_SIZE) * 1px);
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    background-size: 100% 100%;
}

.flowers {
    background-image: url('./images/tile/flowers.png');
}

.path {
    background-image: url('./images/tiles/path.png');
}

.wall {
    background-image: url('./images/tiles/wall.png');
}

.door {
    background-image: url('./images/items/door.png');
}

.water {
    background-image: url('./images/tiles/water.png');
}

.tree {
    background-image: url('./images/tiles/tree.png');
}

.floor_wood {
    background-image: url('./images/tiles/floor_wood.png');
}

.grass {
    background-image: url('./images/tiles/grass.png');
}

.bridge {
    background-image: url('./images/tiles/floor_planks.png');
}

.pot {
    background-image: url('./images/items/pot.png');

}

.pot_smashed {
    background-image: url('./images/items/pot_smashed.png'); 
}

.chest {
    background-image: url('./images/items/chest.png');
}

.closed_door {
    background-image: url('./images/items/door.png');
}

.empty {
    background-image: url('');
}

.animation_1 {
    background-position-x: 0;
}

.animation_2 {
    background-position-x: 32px;
}

.animation_3 {
    background-position-x: 64px;
}

.animation_4 {
    background-position-x: 96px;
}

.highlight {
    outline: 2px dashed #fffb00;
    translate: 0 0;
}

.show-rect {
    outline: 2px solid red;
}

.show-reg-point::before {
    content: "";
    position : absolute;
    background-color: red;
    width: 3px;
    height: 3px;
    translate: var(--regX) var(--regY);
}

.show-hitbox::after {
    content: "";
    position: absolute;
    width: var(--hitboxWidth);
    height: var(--hitboxHeight);
    translate: var(--hitboxX) var(--hitboxY);

    outline: 2px solid red;
}

.interact-prompt {
    position: absolute;
    font-size : 8px;
    border-radius: 10px;
    width: 30px;
    padding: 5px;
    translate: -30px 40px;
    background-color: rgb(241, 241, 241);
}

.talk-bubble {
    position: absolute;
    font-size : 8px;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    translate: 30px -15px;
    background-color: rgb(241, 241, 241);
}

#inventory {
    font-size: smaller;
    translate: 550px 0;
    position:absolute;
    z-index: -1;
} 

#inventory .addColor {
    background-color: rgb(253, 39, 39);
}

#inventory-items {
    width: 150px;
    height: 270px;
    background-color: rgb(163, 163, 163);
    outline: 2px solid black;
}

.hidden {
    display: none;
}